* {
    padding: 0;
    margin: 0;
}

.main {
    height: 100%;
    width: 100%;
    background-color: tan;
    background-position: center;
    position: absolute;
}

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background-color: antiquewhite;
    padding: 5px;
    border-radius: 15px;
}

.button-box {
    width: 230px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px cornsilk;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 32px;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 115px;
    height: 100%;
    background-color: tan;
    border-radius: 30px;
    transition: .5s;
}