<section id="featured" class="my-5 py-5">
    <div class="container mt-5 py-5">
        <h3>Our Products</h3>
        <hr>
        <p>Voluptatibus doloremque fuga odit at nisi incidunt molestiae fugiat dignissimos</p>
    </div>
    <div class="row mx-auto container">
        <% data.forEach(product => { %>
        <div class="product text-center col-lg-3 col-md-4 col-12">
            <img src="<%= product.image %>" alt="" class="img-fluid mb-3">
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h5 class="product-name">
                <%= product.title %>
            </h5>
            <h4 class="product-price">
                $<%= product.price %>
            </h4>
            <button class="buy-btn">Buy Now</button>
        </div>
        <% }) %>
    </div>
    <nav class="container" aria-label="...">
        <ul class="pagination mt-5">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
</section>