<section id="main">
    <div class="container">
        <h5>Lorem ipsum dolor sit</h5>
        <h1><span>Inventore vel</span> ullam quod doloremque</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. <br> Eligendi cum fugit expedita officiis vitae
            recusandae nulla?</p>
        <button>Shop Now</button>
    </div>
</section>

<section id="brand" class="container">
    <div class="row m-0 py-5">
        <img src="https://www.w3schools.com/bootstrap4/paris.jpg" alt="" class="img-fluid col-lg-2 col-md-4 col-6 py-3">
        <img src="https://www.w3schools.com/bootstrap4/paris.jpg" alt="" class="img-fluid col-lg-2 col-md-4 col-6 py-3">
        <img src="https://www.w3schools.com/bootstrap4/paris.jpg" alt="" class="img-fluid col-lg-2 col-md-4 col-6 py-3">
        <img src="https://www.w3schools.com/bootstrap4/paris.jpg" alt="" class="img-fluid col-lg-2 col-md-4 col-6 py-3">
        <img src="https://www.w3schools.com/bootstrap4/paris.jpg" alt="" class="img-fluid col-lg-2 col-md-4 col-6 py-3">
        <img src="https://www.w3schools.com/bootstrap4/paris.jpg" alt="" class="img-fluid col-lg-2 col-md-4 col-6 py-3">
    </div>
</section>

<section id="new" class="container-fluid">
    <div class="row">
        <div class="one col-lg-4 col-md-12 col-12 p-0">
            <img src="https://www.w3schools.com/html/pic_trulli.jpg" alt="" class="img-fluid">
            <div class="details">
                <h2>Lorem ipsum dolor</h2>
                <button class="text-uppercase">Shop now</button>
            </div>
        </div>
        <div class="one col-lg-4 col-md-12 col-12 p-0">
            <img src="https://www.w3schools.com/html/pic_trulli.jpg" alt="" class="img-fluid">
            <div class="details">
                <h2>Lorem ipsum dolor</h2>
                <button class="text-uppercase">Shop now</button>
            </div>
        </div>
        <div class="one col-lg-4 col-md-12 col-12 p-0">
            <img src="https://www.w3schools.com/html/pic_trulli.jpg" alt="" class="img-fluid">
            <div class="details">
                <h2>Lorem ipsum dolor</h2>
                <button class="text-uppercase">Shop now</button>
            </div>
        </div>
    </div>
</section>

<section id="featured" class="my-5 pb-5">
    <div class="container text-center mt-5 py-5">
        <h3>Our Products</h3>
        <hr class="mx-auto">
        <p>Voluptatibus doloremque fuga odit at nisi incidunt molestiae fugiat dignissimos</p>
    </div>
    <div class="row mx-auto container-fluid">
        <% data.forEach(product => { %>
        <div class="product text-center col-lg-3 col-md-4 col-12">
            <img src="<%= product.image %>" alt="" class="img-fluid mb-3">
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h5 class="product-name">
                <%= product.title %>
            </h5>
            <h4 class="product-price">
                $<%= product.price %>
            </h4>
            <button class="buy-btn">Buy Now</button>
        </div>
        <% }) %>
    </div>
    <div id="list" class="container mt-5">
        <div class="wrapper"></div>
    </div>
</section>